@import '../../global.styles.scss';

.skill-card__container{
  
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 30px;
  box-shadow: 0 0 15px -5px $lightBgColor;
  //transition: all 0.5s ease;
  cursor: default;
  position: relative;
  text-align: center;
  transition: all 0.1s ease;
  &:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px 0px $lightBgColor;
  }

  .skill-card__name{
    width: 100%;
    font-size: $font-size-md-sm;
    font-family: $highlighted;
    font-weight: 600;
    margin: 10px 0;
    color: $lightBgColor;
  }

  .skills-container{
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    grid-gap: 15px;

    .skill-container{
        grid-column: span 2;

        &:nth-last-child(1):nth-child(odd) {
            grid-column: 2 / span 2;
        }

        .skill__img-container{
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px 30px;
          img{
            height: 50px;
            width: 50px;
            margin: 10px 0;
          }
      
        }
    }
  }
  

  
  
}