@import '../../global.styles.scss';

.header{
  width: 100%;
  height: $navbar_size;
  background-color: $dark_bg_color;
  position: fixed;
  z-index: 990;
  top: 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s ease all;

  .header__logo{
    
    color: $highlighted_text_color;
    font-family: $highlighted_font;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    font-size: $font-size-lg;

    @include media("<=tablet") {
      flex: 0.8;
      font-size: $font-size-md;
    }
  }

  .navbar__menu{
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    font-size: $font-size-md;
    font-family: $highlighted_font;

    @include media("<=tablet")  {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateY(-100vh);
      transition: 1s;
    }
    .navbar__item{
      padding: 4px 7px;
      transition: all 0.2s ease;
      margin: 0 15px;
      &:hover{
        transform: scale(1.05);
        cursor: pointer;
        background: $light_bg_color;
        color: $dark_bg_color;
        font-weight: 600;
      }
      &.active{
        border-bottom: 2px solid $light_bg_color;
      }
    }
    
  }

  .navbar__menu.responsive_nav{
    transition: 1s;
    transform: translateY(0);
    background-color: $dark_bg_color;

    .navbar__item{
      margin: 10px 0px;
      width: 100%;
      text-align: center;
    }
  }

  .navbar__btn{
    padding: 5px;
    font-size: 30px;
    background: transparent;
    color: $light_bg_color;
    border: none;
    outline: none;
    display: none;
    @include media("<=tablet")  {
      display: flex;
    }
  }

  .navbar__btn.navbar__btn_close{
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
