@import '../../global.styles.scss';

.skills{
    height: auto;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //margin-bottom: 0px;
    @media screen and (max-width: 768px) {
      padding: 0 10px;
    }
    
    .skills__header {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      .skills__heading{
        font-family: $highlighted;
        color: $light_bg_color;
        margin: 10px 0px;
      }
      .skills__description{
        text-align: center;
        font-family: $highlighted;
      }

    }
  
    .skills-card__container{
      width: 100%;
      //background-color: rgb(3, 54, 99);
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }