@import './global.styles.scss';

// ::-webkit-scrollbar {
//   width: 6px;
//   //background: none;
// }

// ::-webkit-scrollbar-track {
//   //box-shadow: inset 0 0 1px $light_bg_color; 
//   background-color: $dark_bg_color;
  
// }

// ::-webkit-scrollbar-thumb {
//   background: $light_bg_color;
//   //border-radius: 10px;
// }

.app{
  scrollbar-color: $dark_bg_color;
  .sections{
    position: relative;
    width: 100%;
    //background-color: rgb(4, 85, 85);
    background-color: $dark_bg_color;
    top: $navbar_size;
    height: auto;
  }
}