//importing breakpoints.scss for better media query handling
@import "./breakpoints.scss";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

//font variables
$primary_font: 'Poppins', sans-serif;
$highlighted_font: 'Source Code Pro', monospace;

//bg colors
$dark_bg_color: #1B1E2F;
$light_bg_color: #34D176;

//text colors
$primary_text_color: white;	  
$highlighted_text_color: #34D176; 


//sizing
$navbar_size: 70px;
$rem_page_height: calc(100vh - 70px);

//font-sizing
$font-size-ex-lg: 40px;
$font-size-lg: 28px;
$font-size-md: 24px;
$font-size-md-sm: 20px;
$font-size-sm: 17px;
$font-size-ex-sm: 13px;


//unselectable text
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary_font;
}

body{
  color: $primary_text_color;
  overflow-x: hidden;
  cursor: default;
}

button{
  cursor: pointer;
  color: $primary_text_color;
}



